body { margin-top: 1.0em; background-color: #ffffff; font-family: "Helvetica,Arial,FreeSans"; color: #000000; }
#container { margin: 0 auto; width: 700px; }
h1 { font-size: 3.8em; color: #000000; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #000000; }
h3 { text-align: center; color: #000000; }
a { color: #000000; }
#nav { background: url(images/menu.png); }
#logo {
    background: url(images/xcode.png); 
    background-repeat: no-repeat;
    padding-left: 138px;
    height: 128px;
    line-height: 138px;
    margin-bottom: -64px;
}
#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 20px;
}

#nav a {
    font: normal normal bold 12px/normal 'Lucida Grande', Helvetica, Arial, sans-serif;
    text-decoration: none;
    line-height: 20px;
    color: white;
	display: block;
}

#nav a:hover {
    color: #999;
}

#nav li {
	float: left;
	width: 25%;
	text-align: center;
}
#description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic; padding-left: 138px}
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
